// Custom variable definitions for Forklift Documentation
// This file is loaded early (before color schemes and modules)

$body-heading-font-family: "Red Hat Display", system-ui, -apple-system,
  blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
