---
---

@import 'jekyll-theme-cayman';

#logo img {
    max-width: 100%;
}

h1#logo {
    margin-bottom: 0;
}



.main-logo{
  position:relative;z-index:9;

max-width: 70%;
display:block;
margin: 0 auto;
margin-bottom: -5em;
}

.belt{width: 100%; color:#fff}

@keyframes beltmove{
  100%{stroke-dashoffset: 600;
 }
}

.belt path{
  transform: skew(-45deg);

  stroke-width: 35;
  stroke-dasharray: 2 10 2 10 2 10 2 10 2 10 ;
  animation: beltmove 20s linear infinite;
}


.main-logo use{
  fill:#a73;
  opacity:0;
animation: convey 3s linear forwards}


use:nth-child(1){animation-delay: 5s}
use:nth-child(2){animation-delay: 3s}
use:nth-child(3){animation-delay: 1s}



@keyframes convey{
  0%{transform: translate(40%, 40%);opacity:0;}
  20%{opacity:1;}
  80%{transform: translate(0%, 40%)}
  100%{opacity:1;}
}


@keyframes convey2{
  0%{transform: translate(50%, 60%);opacity:0;}
  20%{opacity:1;}
  80%{transform: translate(0%, 60%)}
  100%{opacity:1;}
}

use:nth-child(1){animation: convey2 3s linear forwards 5s}
